<h1>Iron Beers</h1>
<div class="beers-container">
    {{#each beersFromApi}}
    {{> beerpartial}}
    <!-- or without partials:
    <div>
        <h2>{{this.name}}</h2>
        <img src={{this.image_url}} alt="beer images">
        <h3>{{this.tagline}}</h3>
        <p>{{this.description}}</p>
    </div> -->
    {{/each}}
</div>